ModemToolbarIE/Connected Services/ModemService/item15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9123/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9123/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ModemWebUtility" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7" type="tns:KeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7" nillable="true" type="tns:ArrayOfKeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7" />
  <xs:complexType name="KeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfKeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="ModemMwdPostObjects" Namespace="http://schemas.datacontract.org/2004/07/ModemWebUtility" />
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="tns:ArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7" nillable="true" type="tns:KeyValuePairOfstringArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZYtwCi8m_S7" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" type="tns:KeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" nillable="true" type="tns:ArrayOfKeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" />
  <xs:complexType name="KeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ModemMwdPostObjects" Namespace="http://schemas.datacontract.org/2004/07/ModemWebUtility" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModemWebUtility" name="value" nillable="true" type="q1:ModemMwdPostObjects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" nillable="true" type="tns:KeyValuePairOfstringModemMwdPostObjectsEIZd_S3ZY" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringstring" type="tns:KeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
</xs:schema>