ModemToolbarIE/Connected Services/ModemService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9123/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ModemWebUtility" />
  <xs:complexType name="ArrayOfKeyValueOfintMwdCompPostsEIZd_S3ZY">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintMwdCompPostsEIZd_S3ZY">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModemWebUtility" name="Value" nillable="true" type="q1:MwdCompPosts" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintMwdCompPostsEIZd_S3ZY" nillable="true" type="tns:ArrayOfKeyValueOfintMwdCompPostsEIZd_S3ZY" />
  <xs:complexType name="ArrayOfKeyValueOfintMwdSoftPostsEIZd_S3ZY">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintMwdSoftPostsEIZd_S3ZY">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModemWebUtility" name="Value" nillable="true" type="q2:MwdSoftPosts" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintMwdSoftPostsEIZd_S3ZY" nillable="true" type="tns:ArrayOfKeyValueOfintMwdSoftPostsEIZd_S3ZY" />
</xs:schema>