ModemToolbarIE/Connected Services/ModemService/item13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModemWebUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModemWebUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9123/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ModemMwdPostObjects">
    <xs:sequence>
      <xs:element minOccurs="0" name="MwdBhaPost" nillable="true" type="tns:MwdBhaPosts" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MwdCompPostDict" nillable="true" type="q1:ArrayOfKeyValueOfintMwdCompPostsEIZd_S3ZY" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MwdSoftPostDict" nillable="true" type="q2:ArrayOfKeyValueOfintMwdSoftPostsEIZd_S3ZY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModemMwdPostObjects" nillable="true" type="tns:ModemMwdPostObjects" />
  <xs:complexType name="MwdBhaPosts">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_BHA_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_BHA_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_EXP_MAX_TEMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_HC_TOOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_L_IMPELLERSIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_L_ORIFFICESIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_L_STATORSIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_MWDDWD_ADD_INFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_POPPET_STANDOFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PULSER_OILTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_RASOURCE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MwdBhaPosts" nillable="true" type="tns:MwdBhaPosts" />
  <xs:complexType name="MwdCompPosts">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_COMMENTS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_L_THREAD_BTM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_L_THREAD_TOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_L_TORQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SEQ_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MwdCompPosts" nillable="true" type="tns:MwdCompPosts" />
  <xs:complexType name="MwdSoftPosts">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_L_MSR_SENSOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_OPS_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_WS_VERSION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MwdSoftPosts" nillable="true" type="tns:MwdSoftPosts" />
</xs:schema>